<h1 class="animate__animated animate__pulse">
    Playlists For Fer 
</h1>
<div class="cards animate__animated animate__pulse">
<section class="container">	
    <div id="player">
          <div class="caratula">
            <img src="https://i.scdn.co/image/ab67616d0000b2738f9b9541a5d3744a99a7b74a">
            <div class="more">
                <div class="icon-info"></div>
            </div>
            <div class="bio">
                <h2>Bonita - Cabas</h2>
            </div>
        </div>
        <div class="info">
                <div class="love">
                    <div class="icon-heart"></div>
                    <div class="icon-star-empty"></div>
                </div>
            <div class="elapsed">4:11</div>
            <h2>Cabas</h2>
            <h3>Bonita</h3>
        </div>
        <div class="links">
            <ul>
                <li>
                     <a href="https://www.youtube.com/watch?v=t20F-0C7oIA&pp=ygUMYm9uaXRhIGNhYmFz" target="_blank">
                        YT
                     </a>
                </li>
            </ul>
        </div>
    </div>


</section>
<!-- cards -->
<section class="container">	
    <div id="player">
        
        <div class="caratula">
            <img src="https://cloudfront-us-east-1.images.arcpublishing.com/copesa/NZPR4X26TBDFLLMI3U5QR6CIMU.jpg">
            <div class="more">
                <div class="icon-info"></div>
            </div>
            <div class="bio">
                <h2>La parte de adelante - Andrés Calamaro</h2>
                <p></p>
            </div>
        </div>
        <div class="info">
                <div class="love">
                    <div class="icon-heart"></div>
                    <div class="icon-star-empty"></div>
                </div>
            <div class="elapsed">4:22</div>
            <h2>Andrés calamaro</h2>
            <h3>La parte de Adelante</h3>
        </div>
        <div class="links">
            <ul>
                <li>
                     <a href="https://www.youtube.com/watch?v=f0SG-aGlOxE" target="_blank"> YT
                     </a>
            </li>
            </ul>
        </div>
    </div>


</section>
<!-- cards -->
<section class="container">
		
    <div id="player">
        
        <div class="caratula">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/5f/ef/ec/5fefec28-a519-9583-77b3-2509aea432bd/192641914171_Cover.jpg/1200x1200bf-60.jpg">
            <div class="more">
                <div class="icon-info"></div>
            </div>
            <div class="bio">
                <h2>Pelinegra</h2>
                <p></p>
            </div>
        </div>
        <div class="info">
                <div class="love">
                    <div class="icon-heart"></div>
                    <div class="icon-star-empty"></div>
                </div>
            <div class="elapsed">4:11</div>
            <h2>Kapo, Nanpa Básico</h2>
            <h3>Pelinegra</h3>
        </div>
        <div class="links">
            <ul>
                <li>
                     <a href="https://www.youtube.com/watch?v=UF96p7qljpw" target="_blank"> YT
                     </a>
            </li>
            </ul>
        </div>
    </div>


</section>
<!-- cards -->
<section class="container">
		
    <div id="player">
        
        <div class="caratula">
            <img src="https://i.scdn.co/image/ab67616d0000b2731d2ea6c80fc19629ab68956c">
            <div class="more">
                <div class="icon-info"></div>
            </div>
            <div class="bio">
                <h2>Otra cinta - Lomy</h2>
                <p></p>
            </div>
        </div>
        <div class="info">
                <div class="love">
                    <div class="icon-heart"></div>
                    <div class="icon-star-empty"></div>
                </div>
            <div class="elapsed">3:11</div>
            <h2>Otra cinta</h2>
            <h3>L'Omy</h3>
        </div>
        <div class="links">
            <ul>
                <li>
                     <a href="https://www.youtube.com/watch?v=IU1ZRTfNa90" target="_blank"> YT
                     </a>
            </li>
            </ul>
        </div>
    </div>


</section>
<!-- cards -->
<section class="container">
		
    <div id="player">
        
        <div class="caratula">
            <img src="https://i.scdn.co/image/ab67616d0000b273a043fa84be801dca33dacca1">
            <div class="more">
                <div class="icon-info"></div>
            </div>
            <div class="bio">
                <h2>Limón y sal - Julieta Venegas</h2>
            </div>
        </div>
        <div class="info">
                <div class="love">
                    <div class="icon-heart"></div>
                    <div class="icon-star-empty"></div>
                </div>
            <div class="elapsed">3:26</div>
            <h2>Limón y sal</h2>
            <h3>Julieta Venegas</h3>
        </div>
        <div class="links">
            <ul>
                <li>
                     <a href="https://www.youtube.com/watch?v=NbclpUNzJsQ" target="_blank"> YT
                     </a>
            </li>
            </ul>
        </div>
    </div>


</section>
</div>

<br>
<br>
<span class="tituloSpotify" style="font-size: 30px; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> SPOTIFY PLAYLIST </span>
<div class="card-border">
    <div class="card-bg"> 
      <div class="container-logo">
        <div class="logo"></div>
          <div class="logo-inside">
            <div class="first"></div>
            <div class="second"></div>
          </div>
      </div>
      <div id="blur-area"></div>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span class="viper">viper viper viper viper</span>
          <span class="viper">viper viper viper viper</span>
          <span class="viper">viper viper viper viper</span>
        </div>
      </div>
      
    </div>
      <div class="mist-container">
          <div class="mist"></div>
      </div>
      <strong id="text-ext">
        <a href="https://open.spotify.com/playlist/5c0nl2xzgUZDS5xkytgkCw?si=ApHT2UJGTN-J6uHNstywkQ" target="_blank" style="color: white;"> Spotify</a>
      </strong>
      <strong id="text-border">
        <a href="https://open.spotify.com/playlist/5c0nl2xzgUZDS5xkytgkCw?si=ApHT2UJGTN-J6uHNstywkQ" target="_blank"  style="color: white;">
            Spotify
        </a></strong>
  </div>

