<h1>
    Playlists For Fer 
</h1>
<section class="container">	
    <div id="player">
          <div class="caratula">
            <img src="https://i.scdn.co/image/ab67616d0000b2738f9b9541a5d3744a99a7b74a">
            <div class="more">
                <div class="icon-info"></div>
            </div>
            <div class="bio">
                <h2>Bonita - Cabas</h2>
                <p></p>
            </div>
        </div>
        <div class="info">
                <div class="love">
                    <div class="icon-heart"></div>
                    <div class="icon-star-empty"></div>
                </div>
            <div class="elapsed">4:11</div>
            <h2>Cabas</h2>
            <h3>Bonita</h3>
        </div>
        <div class="links">
            <ul>
                <li>
                     <a href="https://www.youtube.com/watch?v=t20F-0C7oIA&pp=ygUMYm9uaXRhIGNhYmFz" target="_blank">
                        YT
                     </a>
                </li>
            </ul>
        </div>
    </div>


</section>


<section class="container">	
    <div id="player">
        
        <div class="caratula">
            <img src="https://cloudfront-us-east-1.images.arcpublishing.com/copesa/NZPR4X26TBDFLLMI3U5QR6CIMU.jpg">
            <div class="more">
                <div class="icon-info"></div>
            </div>
            <div class="bio">
                <h2>La parte de adelante - Andrés Calamaro</h2>
                <p></p>
            </div>
        </div>
        <div class="info">
                <div class="love">
                    <div class="icon-heart"></div>
                    <div class="icon-star-empty"></div>
                </div>
            <div class="elapsed">4:22</div>
            <h2>Andrés calamaro</h2>
            <h3>La parte de Adelante</h3>
        </div>
        <div class="links">
            <ul>
                <li>
                     <a href="https://www.youtube.com/watch?v=f0SG-aGlOxE" target="_blank"> YT
                     </a>
            </li>
            </ul>
        </div>
    </div>


</section>



<section class="container">
		
    <div id="player">
        
        <div class="caratula">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/5f/ef/ec/5fefec28-a519-9583-77b3-2509aea432bd/192641914171_Cover.jpg/1200x1200bf-60.jpg">
            <div class="more">
                <div class="icon-info"></div>
            </div>
            <div class="bio">
                <h2>Pelinegra</h2>
                <p></p>
            </div>
        </div>
        <div class="info">
                <div class="love">
                    <div class="icon-heart"></div>
                    <div class="icon-star-empty"></div>
                </div>
            <div class="elapsed">4:11</div>
            <h2>Kapo, Nanpa Básico</h2>
            <h3>Pelinegra</h3>
        </div>
        <div class="links">
            <ul>
                <li>
                     <a href="https://www.youtube.com/watch?v=UF96p7qljpw" target="_blank"> YT
                     </a>
            </li>
            </ul>
        </div>
    </div>


</section>



<section class="container">
		
    <div id="player">
        
        <div class="caratula">
            <img src="https://i.scdn.co/image/ab67616d0000b2731d2ea6c80fc19629ab68956c">
            <div class="more">
                <div class="icon-info"></div>
            </div>
            <div class="bio">
                <h2>Otra cinta - Lomy</h2>
                <p></p>
            </div>
        </div>
        <div class="info">
                <div class="love">
                    <div class="icon-heart"></div>
                    <div class="icon-star-empty"></div>
                </div>
            <div class="elapsed">3:11</div>
            <h2>Otra cinta</h2>
            <h3>L'Omy</h3>
        </div>
        <div class="links">
            <ul>
                <li>
                     <a href="https://www.youtube.com/watch?v=IU1ZRTfNa90" target="_blank"> YT
                     </a>
            </li>
            </ul>
        </div>
    </div>


</section>